{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container new-build-container mt-5">
    <form action="{% url 'new-build' %}" method="POST">
        {% csrf_token %}
        <div class="back">
            <a class="text-decoration-none text-secondary" href="{% url 'build-logs' %}">&curvearrowleft; Back</a>
        </div>
        <h1>New Build</h1>
        <p>Add new keyboard build log material cost information.</p>
        <div class="new-build my-4">
            <div>
                <label for="build-title">Title</label>
                <input name="build-title" id="build-title" class="form-control" type="text" placeholder="i.e. Corne Keyboard" />
            </div>
            <div class="d-flex gap-2 mt-3">
                <div>
                    <label for="build-date">Build Date</label>
                    <input name="build-date" id="build-date" class="form-control" type="date" />
                </div>
                <div>
                    <label for="build-hours">Build Hours</label>
                    <input name="build-hours" id="build-hours" class="form-control" type="number" value="0" />
                </div>
            </div>
            <div class="mt-3">
                <label for="build-notes">Notes</label>
                <textarea name="build-notes" id="build-notes" class="form-control"></textarea>
            </div>
            <div class="material mt-3">
                <h5>Materials</h5>
                <button id="add-more" class="btn btn-primary btn-sm mb-2" type="button">Add More</button>
                <table class="table table-sm small align-middle">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Sparepart</th>
                            <th>Kind</th>
                            <th>Stock Left</th>
                            <th>Stock Out</th>
                            <th>Unit Cost</th>
                            <th>Total Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span id="close-button" class="" type="button" onclick="removeRow(this)"><i class="fa-solid fa-circle-xmark"></i></span>
                            </td>
                            <td>
                                <select name="material-select" id="material-select" class="form-select form-select-sm border-0" onchange="selectSparepart(this)">
                                    <option value="None">Select</option>
                                </select>
                            </td>
                            <td>
                                <select name="material-kind" id="material-kind" class="form-select form-select-sm border-0" onchange="selectKind(this)">
                                    <option value="None">Select</option>
                                </select>
                            </td>
                            <td>
                                <input id="material-stock-left" name="material-stock-left" class="form-control form-control-sm readonly border-0" type="number" value="0" readonly/>
                            </td>
                            <td>
                                <input id="material-stock-out" name="material-stock-out" type="number" class="form-control form-control-sm border-0" min="0" value="0" oninput="calculateTotalCost(this)" />
                            </td>
                            <td id="material-perunit-price">Rp 0</td>
                            <td>Rp 0</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td name="material-cost" id="material-cost" value="0">Rp 0</td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <button id="submit-button" class="btn btn-success btn-sm" type="button">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %} {% block script %}
<script src="{% static 'js/new-build-log.js' %}"></script>
{% endblock script %}
